<!--   -->
<div class="navbar">
  <div class="container">
    <div class="logo">
      <div class="logo-img"><img src="/assets/images/asgatech.png" /></div>
      <p><span>Asga</span>tech</p>
    </div>
    <div class="links">
      <ul>
        <li>
          <a
            routerLink="/"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            >Products</a
          >
        </li>
        <li>
          <a routerLink="/orders" routerLinkActive="active">Orders</a>
        </li>
      </ul>
    </div>
  </div>
</div>
