.footer {
  padding: 10px;
  text-align: center;
  font-size: 14px;
  background-color: var(--color-black);
  color: var(--color-white);
  a {
    color: #517ab2;
    cursor: pointer;
    text-decoration: none;
  }
}
